* {
  font-family: "Vazirmatn", sans-serif;
}
.main1 {
  display: flex;
  justify-content: center;
}
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.input {
  width: 364px;
  height: 51.57px;
  display: flex;
  justify-content: center;
  background-color: #f2f3f2;
  border-radius: 30px;
  
}
.header {
  display: flex;
  justify-content: center;
  padding: 30px;
}
.input > input {
  display: flex;
  justify-content: center;
  background-color: #f2f3f2;
  border-radius: 10px;
  border-style: none;
}
